.home {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.header {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-snap-align: start;

    &-profile {
        width: 100%;
        height: 50%;
        top: 0;
        left: 0;
        position: fixed;
        background: rgb(29, 193, 121);
        background: linear-gradient(31deg, rgba(29, 193, 121, 1) 55%, rgba(78, 244, 171, 1) 100%);
        z-index: -100;
        transition: background-image 1s;
    }
}


.bg-green {
    background: rgb(29, 193, 121);
    background: linear-gradient(31deg, rgba(29, 193, 121, 1) 55%, rgba(78, 244, 171, 1) 100%);
}

.bg-yellow {
    background: rgb(246, 125, 159);
    background: linear-gradient(31deg, rgba(246, 125, 159, 1) 47%, rgba(246, 125, 159, 0.702140231092437) 100%);
}

.bg-pink {
    background: rgb(255, 94, 4);
    background: linear-gradient(31deg, rgba(255, 94, 4, 1) 47%, rgba(250, 153, 0, 1) 100%);
}

.bg-black {
    background: rgb(17, 34, 93);
    background: linear-gradient(90deg, rgba(17, 34, 93, 1) 54%, rgba(33, 58, 144, 1) 100%);
}

@media (max-width: 760px) {
    .header-profile {
        height: 45%;

    }
}