.bubble {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -10vh;

    &-pic {
        width: 3rem;
        animation: bubble-float 3s linear infinite;
    }
}

@keyframes bubble-float {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {

        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(-52vh);
        opacity: 0;
    }
}

.bubble img:nth-child(1) {
    animation-delay: 3s;

}

.bubble img:nth-child(2) {
    animation-delay: 5s;
    width: 3rem;
}

.bubble img:nth-child(3) {
    animation-delay: 3s;
    width: 1.5rem;
}

.bubble img:nth-child(4) {
    animation-delay: 1s;
    width: 2rem;
}

.bubble img:nth-child(5) {
    animation-delay: 7s;
    width: 4rem;
}

.bubble img:nth-child(6) {
    animation-delay: 3s;
    width: 1rem;
}

.bubble img:nth-child(7) {
    animation-delay: 4s;
    width: 1.5rem;
}

.bubble img:nth-child(8) {
    animation-delay: 3s;
    width: 2rem;
}

.bubble img:nth-child(9) {
    animation-delay: 9s;
    width: 1rem;
}

.bubble img:nth-child(10) {
    animation-delay: 1s;
    width: 3rem;
}