@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap');

.intro {
    height: 5rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-family: 'Cabin', sans-serif;
}

.intro-header {
    color: rgb(255, 249, 249);
    text-shadow: 0 0 5px rgba(28, 82, 49, 0.574);
    white-space: nowrap;
    border-right: 2px solid rgba(255, 255, 255, 0.966);
    overflow: hidden;
}

.intro-title {
    color: rgb(255, 249, 249);
    text-shadow: 0 0 5px rgba(28, 82, 49, 0.574);
    animation: fade-in-out infinite alternate;
    animation-duration: 5s;
    animation-delay: 5s;
    visibility: hidden;
}



.animate {

    animation: typewriter 4s steps(40) 1s 1 normal both,
        blinkTextCursor 1s steps(40) infinite normal;


}

.animate {
    @keyframes typewriter {
        from {
            width: 0;
        }

        to {

            width: 100%;
        }
    }

    @keyframes blinkTextCursor {
        from {
            border-right-color: rgba(255, 255, 255, 0.986);

        }

        to {
            border-right-color: transparent
        }
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 560px) {
    .intro {
        top: 15%;
        font-size: 1.4rem;
    }

    .intro-title {
        width: max-content;
    }
}