@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400&display=swap');

.section {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: rgb(169, 19, 79);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
    border: 3px solid rgb(255, 255, 255);

    &-title {
        margin: 5%;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
    }

    &-text {
        position: absolute;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        font-family: 'Signika Negative', sans-serif;
    }
}