.portfolio {
    width: 100%;


}

.menu {
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    color: rgb(132, 128, 128);

    &:hover {
        color: rgb(15, 14, 14);
    }
}

.container-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

}

.card-container {
    max-width: 1200px;
    position: absolute;
    top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5rem;
}

.card-container h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.card-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    row-gap: 2rem;
    column-gap: 2rem;
}

.item {
    width: 45%;
    background-color: rgb(12, 49, 37);
    align-self: auto;
    box-sizing: border-box;

}

@media (max-width: 600px) {
    .card-container {
        max-width: 90%;
    }

    .item {
        width: 90%;
    }
}